body {
  background-color: rgba(255, 255, 255, 0.76);
}

.school {
  font-style: italic;
}

.inner_content {
  border: dotted #BDBDBD 2px;
  border-radius: 6px;
  padding: 2px 10px;
  margin-top: 4px;
  margin-bottom: 8px;
}

.inner_content h3 {
  color: white;
}
.projects {
  background-color: #717171;
  color: #C1CAC7;
}

.about_me {
  background-color: #46465A;
  color: #999EAF
}
